.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
npm-debug.log
vendor
storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/backups
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
.phpunit.result.cache
